<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,455},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>AttackBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,342},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Lv_.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,60},{45,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,20}}</string>
                <key>sourceSize</key>
                <string>{45,20}</string>
            </dict>
            <key>Range.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,342},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>book.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,87},{67,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,66}}</string>
                <key>sourceSize</key>
                <string>{67,66}</string>
            </dict>
            <key>btnBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,277},{121,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,34}}</string>
                <key>sourceSize</key>
                <string>{121,34}</string>
            </dict>
            <key>btnblue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{116,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,50}}</string>
                <key>sourceSize</key>
                <string>{116,50}</string>
            </dict>
            <key>btnsyn.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,186},{194,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,69}}</string>
                <key>sourceSize</key>
                <string>{194,69}</string>
            </dict>
            <key>btnyellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,400},{105,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,50}}</string>
                <key>sourceSize</key>
                <string>{105,50}</string>
            </dict>
            <key>dfg.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,156},{138,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,52}}</string>
                <key>sourceSize</key>
                <string>{138,52}</string>
            </dict>
            <key>down.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,60},{25,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,29}}</string>
                <key>sourceSize</key>
                <string>{25,29}</string>
            </dict>
            <key>equipBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,432},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>equipIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,282},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>hecheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,257},{80,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,48}}</string>
                <key>sourceSize</key>
                <string>{80,48}</string>
            </dict>
            <key>hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,291},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>img0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,210},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>img1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,342},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>img2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,87},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,257},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>jiantou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{71,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,53}}</string>
                <key>sourceSize</key>
                <string>{71,53}</string>
            </dict>
            <key>jindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,282},{101,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,32}}</string>
                <key>sourceSize</key>
                <string>{101,32}</string>
            </dict>
            <key>jinduBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,248},{101,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,32}}</string>
                <key>sourceSize</key>
                <string>{101,32}</string>
            </dict>
            <key>jingyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,405},{61,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{61,48}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>jueseliebiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,210},{132,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,36}}</string>
                <key>sourceSize</key>
                <string>{132,36}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,221},{54,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,28}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>lvBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,56},{98,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,30}}</string>
                <key>sourceSize</key>
                <string>{98,30}</string>
            </dict>
            <key>lvValBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{315,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,25}}</string>
                <key>sourceSize</key>
                <string>{315,25}</string>
            </dict>
            <key>select1.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,277},{153,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,55}}</string>
                <key>sourceSize</key>
                <string>{153,55}</string>
            </dict>
            <key>select2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{153,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,55}}</string>
                <key>sourceSize</key>
                <string>{153,55}</string>
            </dict>
            <key>selectbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{171,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,56}}</string>
                <key>sourceSize</key>
                <string>{171,56}</string>
            </dict>
            <key>shuxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,257},{85,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,45}}</string>
                <key>sourceSize</key>
                <string>{85,45}</string>
            </dict>
            <key>skillbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,382},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>soldierLab.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,362},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>star0.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,342},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,156},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>suipian.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,87},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,156},{195,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,28}}</string>
                <key>sourceSize</key>
                <string>{195,28}</string>
            </dict>
            <key>ui_btd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{282,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,47}}</string>
                <key>sourceSize</key>
                <string>{282,47}</string>
            </dict>
            <key>ui_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,385},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,141},{78,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,28}}</string>
                <key>sourceSize</key>
                <string>{78,28}</string>
            </dict>
            <key>up.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,60},{25,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,29}}</string>
                <key>sourceSize</key>
                <string>{25,29}</string>
            </dict>
            <key>val.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,105},{138,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,21}}</string>
                <key>sourceSize</key>
                <string>{138,21}</string>
            </dict>
            <key>valBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{315,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,25}}</string>
                <key>sourceSize</key>
                <string>{315,25}</string>
            </dict>
            <key>zhanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,304},{84,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,36}}</string>
                <key>sourceSize</key>
                <string>{84,36}</string>
            </dict>
            <key>zhanlibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{256,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,49}}</string>
                <key>sourceSize</key>
                <string>{256,49}</string>
            </dict>
            <key>zhuangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,277},{83,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,44}}</string>
                <key>sourceSize</key>
                <string>{83,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>detailsImg.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c32673b963e41926a8e7ce15401837a9$</string>
            <key>textureFileName</key>
            <string>detailsImg.png</string>
        </dict>
    </dict>
</plist>
